/* responsive navbar */
ul.topnav {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: rgb(51, 51, 51);
    border: 1px solid white;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

ul.topnav li a.active {
    background-color: rgb(4, 170, 109);
}

ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right, ul.topnav li {
        float: none;
    }
}

/* including padding in box for all elements */
* {
    /* border: 1px solid black; */
    box-sizing: border-box;
}

